html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 12px;
	padding: 2vmin;
	gap: 2vmin;
	width: 45vmin;
	height: 75vmin;
}

#topRow{
	display:flex;
	flex: 0;
	gap: 2vmin;
}

.buttonRow{
	display:flex;
	flex: 1;
	gap: 2vmin;
}

#output{
	display:flex;
	flex: 4;
	justify-content: flex-end;
	align-items: center;
	border: 2px solid black;
	border-radius: 12px;
	font-size: 4.5vmin;
	padding: 1rem;
}

button{
	flex: 1;
	background-color: inherit;
	border: 2px solid black;
	font-size: 3.5vmin;
	font-family: monospace;
	border-radius: 12px;
}

button:active{
	background-color: lightgrey;
}
